<!DOCTYPE html>
<head>
  <title>Übersicht</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/styling.css">

  <script src="/js/chart.js"></script>
</head>
<html>
  <body>
    <h1>{{.Copy.Headline}}</h1>

    <p>
      {{.Copy.IntroCashflowTotal}}
    </p>

    <h2 class="{{.CSS.TotalCashflowClass}} center">{{.Copy.CashflowTotal}}</h2>

    <p>
      {{.Copy.IntroDescription}}
    </p>

    {{if .HasIncome}}
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h5 class="center">{{.Copy.IncomeCashflowTotal}}</h5>
            <canvas id="{{.Income.ID}}"></canvas>
          </div>
          <div class="col-6">
            <h5 class="center">{{.Copy.ExpensesCashflowTotal}}</h5>
            <canvas id="{{.Expenses.ID}}"></canvas>
          </div>
        </div>
      </div>
    {{else}}
      <div class="padded-chart">
        <canvas id="{{.Expenses.ID}}"></canvas>
      </div>
    {{end}}

    <div class="info-sheet">
      <table>
        <tbody>
          <tr>
            <th>Produkt</th>
            <th>Finanzplan</th>
            <th>Davon über der Wertgrenze</th>
          </tr>
          <tr>
            <th></th>
            <th>{{.Copy.CashflowTotal}}</th>
            <th>{{.Copy.CashflowB}}</th>
          </tr>

          {{range .Copy.Departments}}
            <tr>
              <td><a href="{{.Link}}">{{.Name}}</a></td>
              <td>{{.CashflowTotal}}</td>
              <td>{{.CashflowB}}</td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <p class="data-disclosure">
      {{.Copy.DataDisclosure}}
    </p>

    <footer>
      <p>
        Daten und Code für diese Webseite findest du auf <a href="https://github.com/pheymann/paulheymann-website">Github</a>.
        Das Impression befindet sich <a href="/imprint.html">hier</a>.
      </p>
    </footer>

    <script>
      {{if .HasIncome}}
        var incomeDepartmentLinks = {{.IncomeDepartmentLinks}};
        var incomeCanvas = document.getElementById('{{.Income.ID}}');
        var incomeChart = new Chart(incomeCanvas, {
          type: 'doughnut',
          data: {
            labels: {{.Income.Labels}},
            datasets: [{
              label: 'Euro',
              data: {{.Income.Data}},
              borderWidth: 1
            }]
          },
          options: {
            plugins: {
              legend: {
                display: false
              }
            },
            onClick: function(e){
              var activePoints = incomeChart.getElementsAtEventForMode(e, 'nearest', { intersect: true }, true);
              window.location.href = incomeDepartmentLinks[activePoints[0].index];
            },
          }
        });
      {{end}}

      var expensesDepartmentLinks = {{.ExpensesDepartmentLinks}};
      var expensesCanvas = document.getElementById('{{.Expenses.ID}}');
      var expensesChart = new Chart(expensesCanvas, {
        type: 'doughnut',
        data: {
          labels: {{.Expenses.Labels}},
          datasets: [{
            label: 'Euro',
            data: {{.Expenses.Data}},
            borderWidth: 1
          }]
        },
        options: {
          plugins: {
            legend: {
              display: false
            }
          },
          onClick: function(e){
            var activePoints = expensesChart.getElementsAtEventForMode(e, 'nearest', { intersect: true }, true);
            window.location.href = expensesDepartmentLinks[activePoints[0].index];
          },
        },
      });
    </script>
  </body>
</html>
