<!DOCTYPE html>
<head>
  <title>Produkt</title>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<html>
  <body>
    <h1>Produkt - {{.Meta.Product.Name}}</h1>
    <p class="bread-crumps">
      /{{.Meta.Department.ID}}/{{.Meta.ProductClass.ID}}/{{.Meta.ProductDomain.ID}}/{{.Meta.ProductGroup.ID}}/{{.Meta.Product.ID}}
    </a>

    <h2 class="{{.CSS.TotalCashflowClass}}">{{.Copy.CashflowTotal}}</h2>

    <div class="container">
      {{range .BalanceSections}}
        <div class="row">
          <h3 class="{{.CSSCashflowTotal}}">{{.CashflowTotal}}</h3>
          <h4>{{.Label}}</h4>

          {{if .HasIncomeAndExpenses}}
            <canvas id="{{.ID}}"></canvas>

            <div class="col-6">
              <canvas id="{{.Income.ID}}"></canvas>
            </div>
            <div class="col-6">
              <canvas id="{{.Expenses.ID}}"></canvas>
            </div>
          {{else}}
            {{if .HasIncome}}
              <div class="col-12">
                <canvas id="{{.Income.ID}}"></canvas>
              </div>
            {{end}}
            {{if .HasExpenses}}
              <div class="col-12">
                <canvas id="{{.Expenses.ID}}"></canvas>
              </div>
            {{end}}
          {{end}}
        </div>
      {{end}}
    </div>

    <a href="/{{.Meta.Department.ID}}">{{.Copy.BackLink}}</a>

    <ul>
      <li>{{.Copy.MetaDepartment}}: {{.Meta.Department.Name}}</li>
      <li>{{.Copy.MetaProductClass}}: {{.Meta.ProductClass.Name}}</li>
      <li>{{.Copy.MetaProductDomain}}: {{.Meta.ProductDomain.Name}}</li>
      <li>{{.Copy.MetaProductGroup}}: {{.Meta.ProductGroup.Name}}</li>
      <li>{{.Copy.MetaProduct}}: {{.Meta.Product.Name}}</li>
      <li>{{.Copy.MetaAccountable}}: {{.Meta.ProductClass.Accountable}}</li>
      <li>{{.Copy.MetaResponsible}}: {{.Meta.ProductDomain.Responsible}}</li>
    </ul>

    <script>
      {{range .BalanceSections}}
        {{if .HasIncomeAndExpenses}}
          new Chart(document.getElementById('{{.ID}}'), {
            type: 'doughnut',
            data: {
              labels: ['Einnahmen', 'Ausgaben'],
              datasets: [{
                label: 'Euro',
                data: [{{.IncomeCashflowTotal}}, {{.ExpensesCashflowTotal}}],
                borderWidth: 1
              }]
            },
          });

          new Chart(document.getElementById('{{.Income.ID}}'), {
            type: 'doughnut',
            data: {
              labels: {{.Income.Labels}},
              datasets: [{
                label: 'Euro',
                data: {{.Income.Data}},
                borderWidth: 1
              }]
            },
          });

          new Chart(document.getElementById('{{.Expenses.ID}}'), {
            type: 'doughnut',
            data: {
              labels: {{.Expenses.Labels}},
              datasets: [{
                label: 'Euro',
                data: {{.Expenses.Data}},
                borderWidth: 1
              }]
            },
          });
        {{end}}
      {{end}}
    </script>
  </body>
</html>
